<html data-ng-app="renderApp">
    <head>
        <title>Elevators!</title>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <link rel="stylesheet" type="text/css" href="css/elevator.css"/>
    </head>
    <body data-ng-controller="RenderController">
        <div class="player-state" data-ng-repeat="state in states">
            <div class="header white-text">
                Team: {{state.client.name}} |
                Happy: {{state.tally.happy}} |
                Unhappy: {{state.tally.unhappy}} |
                Overall: {{state.tally.overall}}
            </div>
            <div class="floors">
                <div class="floor" data-ng-repeat="floor in state.floors">
                    <!--<div class="clearfix small"></div>-->

                    <div class="control-panel-placeholder">
                        <div class="control-panel" data-ng-if="floor.controlPanel">
                            <div class="button-wrapper" data-ng-class="{clearfix : $index % 3 == 0}" data-ng-repeat="button in floor.controlPanel">
                                <div class="button {{button.state}}">{{button.number}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="elevator-shaft">
                        <div class="elevator {{floor.elevator.state}}" data-ng-if="floor.elevator">
                            <div class="spot" data-ng-class="{clearfix : $index % 2 == 0}" data-ng-repeat="spot in floor.elevator.riders track by $index">
                                {{spot}}
                            </div>
                        </div>
                    </div>

                    <div class="waiting-room">
                        <div class="buttons">
                            <div class="button {{floor.waitingRoom.up}}">&#9650;</div>
                            <div class="button {{floor.waitingRoom.down}}">&#9660;</div>
                        </div>
                        <div class="people">
                            <div class="person" data-ng-repeat="person in floor.waitingRoom.requests track by $index">
                                <span class="{{person}}" data-ng-if="person=='patient'">&#9786;</span>
                                <span class="{{person}}" data-ng-if="person=='impatient'">&#9785;</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="clearfix small"></div>-->
                </div>
            </div>
        </div>
    </body>
</html>