body {
    background-color: #333333;
}

div {
    border: solid 1px black;
    margin: 1px;
    padding: 2px;
}

.floors {
    clear: both;
    overflow: hidden;
}

.floor {
    clear: both;
    overflow: hidden;
}

.floor > div {
    float: left;
    z-index: 0;
}

.control-panel-placeholder {
    background-color: #223388;
    min-width: 164px;
    min-height: 114px;
}

.control-panel {
    z-index: 5;
    clear: both;
    overflow: hidden;
}

.control-panel .button-wrapper {
    float: left;
}

.control-panel .button {
}

.elevator-shaft {
    background-color: dimgrey;
    min-width: 133px;
    min-height: 150px;
}

.elevator {
    z-index: 5;
    border-width: 3px;
    min-width: 116px;
    overflow: hidden;
}
.spot {
    float: left;
}

.going-to {
    font-size: 1.2em;
    color: #FFFFFF;
    float: left;
}

.waiting {
    border-color: dodgerblue;
}

.disembarking {
    border-color: mediumslateblue;
}

.embarking {
    border-color: maroon;

}

.ascending {
    border-color: darkgoldenrod;
}

.descending {
    border-color: chartreuse;
}

.waiting-room {
    background-color: darkolivegreen;
    min-width: 192px;
    min-height: 97px;
}

.waiting-room:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.people, .buttons {
    float: left;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
}

.small {
    width: 0 !important;
    height: 0 !important;
}

.button {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid #005500;
}

.on {
    border-color: #00EE00;
    background-color: #EEEEEE;
}

.off {
    border-color: #005500;
    background-color: #555555;
}

.white-text {
    color: white;
}

.person {
    float: right;
    font-size: 2.5em;
}

.patient {
    color: blue;
}

.impatient {
    color: orange;
    font-size: 0.8em;
}