body {
    background-color: #FFFFFF;
}

div {
    border: solid 1px white;
    background-color: #555555;
    padding: 2px;
}

.player-state {
    float: left;
}

.floors {
    clear: both;
    overflow: hidden;
}

.floor {
    clear: both;
    overflow: hidden;

    padding: 0px;
    border-top: none;
    border-bottom: none;
}

.floor > div {
    float: left;
    z-index: 0;
}

.floors > div:first-child {
    border-top: solid 1px white;
    border-bottom: none;
}

.floors > div:last-child {
    border-bottom: solid 1px white;
}

.control-panel-placeholder {
    background-color: #223388;
    min-width: 108px;
    min-height: 114px;
    margin: 10px;

    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
}

.control-panel {
    z-index: 5;
    clear: both;
    overflow: hidden;
}

.control-panel .button-wrapper {
    float: left;
}

.control-panel .button {
}

.elevator-shaft {
    background-color: dimgrey;
    min-width: 133px;
    min-height: 150px;

    margin: 0px;
    border-top: none;
    border-bottom: none;

    -moz-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    -o-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
}

.floors > div:first-child > .elevator-shaft {
    border-top: solid 1px white;

    -moz-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
}

.floors > div:last-child > .elevator-shaft {
    border-bottom: solid 1px white;

    -moz-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
}

.elevator {
    z-index: 5;
    border-width: 3px;
    min-width: 116px;
    overflow: hidden;
}
.spot {
    float: left;
}

.going-to {
    font-size: 1.2em;
    color: #FF0000;
    background-color: #111111;
    text-align: center;
}

.waiting {
    border-color: dodgerblue;
}

.disembarking {
    border-color: mediumslateblue;
}

.embarking {
    border-color: maroon;

}

.ascending {
    border-color: darkgoldenrod;
}

.descending {
    border-color: chartreuse;
}

.waiting-room {
    background-color: darkolivegreen;
    min-width: 192px;
    min-height: 97px;
}

.waiting-room:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.people, .buttons {
    float: left;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
}

.small {
    width: 0 !important;
    height: 0 !important;
}

.button-wrapper {
    border: none;
    margin: 2px;
}

.button {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid #005500;
}

.on {
    border-color: #00EE00;
    background-color: #EEEEEE;

    -moz-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    -o-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
}

.off {
    border-color: #005500;
    background-color: #888888;

    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
}

.white-text {
    color: white;
}

.person {
    float: right;
    font-size: 2.5em;
}

.patient {
    color: blue;
}

.impatient {
    color: orange;
    font-size: 0.8em;
}

.hidden {
    visibility: hidden;
}