body {
    background-color: #444444;
    font-family: Electrolize, 'Black Ops One', sans-serif;
}

h2 {
    color: #FFFFFF;
    text-align: center;
}

div {
    padding: 2px;
}

.player-state {
    float: left;
    color: #000000;
    background-color: #111111;
    margin: 2px;
}

.header {
    border: solid 2px black;
    padding: 5px 15px 0 15px;
    -moz-box-shadow: inset 20px 20px 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 20px 20px 10px -10px rgba(0,0,0,0.6);
    -o-box-shadow: inset 20px 20px 10px -10px rgba(0,0,0,0.6);
    box-shadow: inset 20px 20px 10px -10px rgba(0,0,0,0.6);
}

.header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.team-name {
    float: left;
    font-size: 2em;
}

.tally {
    float: left;
    clear: both;
}

.overall {
    float: right;
    font-size: 2em;
    vertical-align: top;
}

.overall > .score {
    font-size: 2.5em;
}

.floors {
    clear: both;
    overflow: hidden;
}

.floor {
    clear: both;
    overflow: hidden;

    padding: 0;
    border-top: none;
    border-bottom: none;

    background-color: #222233;
}

.floor > div {
    float: left;
    z-index: 0;
}

.floors > div:first-child {
    border-top: solid 1px black;
    border-bottom: none;
}

.floors > div:last-child {
    border-bottom: solid 1px black;
}

.control-panel-placeholder {
    background-color: #010101;
    min-width: 108px;
    min-height: 114px;
    margin: 10px;

    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);

    border: none;
}

.control-panel {
    z-index: 5;
    clear: both;
    overflow: hidden;
    border: none;
}

.control-panel .button-wrapper {
    float: left;
}

.control-panel .button {
    font-size: 1.5em;
}

.elevator-shaft {
    background-color: dimgrey;
    min-width: 133px;
    min-height: 170px;

    margin: 0;
    border-top: none;
    border-bottom: none;

    -moz-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    -o-box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
    box-shadow: inset 20px 5px 10px -10px rgba(0,0,0,0.6);
}

.floors > div:first-child > .elevator-shaft {
    -moz-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 10px 0px rgba(0,0,0,0.6);
}

.floors > div:last-child > .elevator-shaft {
    -moz-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px -5px 10px 0px rgba(0,0,0,0.6);
}

.elevator-walls {
    padding: 2px;
}

.elevator {
    z-index: 5;
    width: 129px;
    height: 138px;
    overflow: hidden;
    padding: 0;

    display: table-cell;
    vertical-align: bottom;

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFD972),
            color-stop(1, #D9A619)
    );
    background-image: -o-linear-gradient(bottom, #FFD972 0%, #D9A619 100%);
    background-image: -moz-linear-gradient(bottom, #FFD972 0%, #D9A619 100%);
    background-image: -webkit-linear-gradient(bottom, #FFD972 0%, #D9A619 100%);
    background-image: -ms-linear-gradient(bottom, #FFD972 0%, #D9A619 100%);
    background-image: linear-gradient(to bottom, #FFD972 0%, #D9A619 100%);

    -moz-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
}
.spot {
    float: left;
    font-size: 2em;
    border: dashed white 2px;
    min-width: 24px;
    min-height: 39px;
    margin: 2px;
    text-align: center;
}
.going-to-wrapper {
    margin: 0;
    padding: 0;
}

.going-to {
    font-size: 1.2em;
    color: #FF0000;
    background-color: #111111;
    text-align: center;
    font-family: 'Black Ops One', sans-serif;
}

.waiting {}

.disembarking {}

.embarking {}

.ascending {}

.descending {}

.waiting-room {
    background-color: #222233;
    width: 239px;
    height: 154px;
    padding: 10px;

    -moz-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    -o-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
    box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.6);
}

.waiting-room:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.people {
    float: left;
    width: 150px;
}

.waiting-room-buttons {
    float: left;
}

.waiting-room-buttons-edge {
    float: left;
}

.waiting-room-buttons-edge:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.floor-number {
    float: left;
    display: block;
    width: 25px;
    font-size: 2em;
    text-align: center;
}

.clearfix {
    content: " ";
    display: block;
    clear: both;
}

.small {
    width: 0 !important;
    height: 0 !important;
}

.button-wrapper {
    border: none;
    margin: 2px;

    background-color: transparent;
}

.button {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid #005500;
}

.button.up {
    line-height: 1.8;
}

.button.down {
    line-height: 2.2;
}

.floors > div:first-child > .waiting-room > .waiting-room-buttons-edge > .waiting-room-buttons > .button-wrapper > .button.up {
    visibility: hidden;
}

.floors > div:last-child > .waiting-room > .waiting-room-buttons-edge > .waiting-room-buttons > .button-wrapper > .button.down {
    visibility: hidden;
}

.on {
    border-color: #00EE00;
    background-color: #EEEEEE;

    -moz-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    -o-box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
    box-shadow: 0px 0px 6px 2px rgba(111, 255, 117, 0.6);
}

.off {
    border-color: #005500;
    background-color: #888888;

    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.6);
}

.person {
    float: right;
    font-size: 2.5em;
}

.patient {
    color: #129854;
}

.impatient {
    color: #A63010;
    font-size: 1em;
}

.hidden {
    visibility: hidden;
}

.blue-metal {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #06496B),
            color-stop(0.19, #166085),
            color-stop(0.46, #175E8A),
            color-stop(0.72, #0E6891),
            color-stop(1, #0C6785)
    );
    background-image: -o-linear-gradient(bottom, #06496B 0%, #166085 19%, #175E8A 46%, #0E6891 72%, #0C6785 100%);
    background-image: -moz-linear-gradient(bottom, #06496B 0%, #166085 19%, #175E8A 46%, #0E6891 72%, #0C6785 100%);
    background-image: -webkit-linear-gradient(bottom, #06496B 0%, #166085 19%, #175E8A 46%, #0E6891 72%, #0C6785 100%);
    background-image: -ms-linear-gradient(bottom, #06496B 0%, #166085 19%, #175E8A 46%, #0E6891 72%, #0C6785 100%);
    background-image: linear-gradient(to bottom, #06496B 0%, #166085 19%, #175E8A 46%, #0E6891 72%, #0C6785 100%);
}

.black-metal {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #222629),
            color-stop(1, #222329)
    );
    background-image: -o-linear-gradient(bottom, #222629 0%, #222329 100%);
    background-image: -moz-linear-gradient(bottom, #222629 0%, #222329 100%);
    background-image: -webkit-linear-gradient(bottom, #222629 0%, #222329 100%);
    background-image: -ms-linear-gradient(bottom, #222629 0%, #222329 100%);
    background-image: linear-gradient(to bottom, #222629 0%, #222329 100%);
}

.white-metal {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #E0F0FC),
            color-stop(0.35, #EDFEFF),
            color-stop(0.63, #EDFFFF),
            color-stop(0.83, #F9F9FC),
            color-stop(1, #EAF3FC)
    );
    background-image: -o-linear-gradient(bottom, #E0F0FC 0%, #EDFEFF 35%, #EDFFFF 63%, #F9F9FC 83%, #EAF3FC 100%);
    background-image: -moz-linear-gradient(bottom, #E0F0FC 0%, #EDFEFF 35%, #EDFFFF 63%, #F9F9FC 83%, #EAF3FC 100%);
    background-image: -webkit-linear-gradient(bottom, #E0F0FC 0%, #EDFEFF 35%, #EDFFFF 63%, #F9F9FC 83%, #EAF3FC 100%);
    background-image: -ms-linear-gradient(bottom, #E0F0FC 0%, #EDFEFF 35%, #EDFFFF 63%, #F9F9FC 83%, #EAF3FC 100%);
    background-image: linear-gradient(to bottom, #E0F0FC 0%, #EDFEFF 35%, #EDFFFF 63%, #F9F9FC 83%, #EAF3FC 100%);
}

.search-panel {
    background-color: #888888;
    width: 200px;
    padding: 5px;
    border: solid 2px #000000;
}