body {
    background-color: #000000;
    font-family: Electrolize, 'Black Ops One', sans-serif;
}

.form-panel {
    width: 600px;
}

.right {
    float: right;
}

.min-label-width {
    min-width: 200px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

body.player-creation input[type="text"]:focus {
    border-color: rgba(33, 255, 50, 0.8);
}